/* 
404.css
- Sección principal
*/

/* Sección principal
Descripción: estilos para la sección principal de la página error 404
Estructura:
-Notfound
-Notfound-picture
-Notfound-img
-Notfound-text
-Notfound-span--grande
*/
.Notfound{
    padding: 6.25rem 12.5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 6.25rem;
}
.Notfound-picture{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.Notfound-img{
    width: 100%;
}
.Notfound-text{
    grid-column: span 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1.25rem;
}
.Notfound-span--grande{
    font-size: 5rem;
    font-weight: 700;
}

/* Sección principal */

/* Responsive
Descripción: estilos para adaptar el contenido a responsive
Estructura: 
- Pantallas con max-width 768px
- Pantallas con max-width 480px
- Pantallas grandescon min-width 2000px

*/
@media (max-width:768px){
    .Notfound{
        grid-template-columns: 1fr;
        padding: 6.25rem 9.375rem;
    }
    .Notfound-text{
        grid-row: 1/3;
        grid-column: span 1;
        align-items: center;
        text-align: center;
    }
    .Notfound-picture{
        justify-content: center;
    }
}
@media (max-width:480px){
    .Notfound{
        padding: 6.25rem;
    }

}
@media (min-width: 2000px){
    body{
        max-width: 2400px;
        margin: auto;
        border-left: 2px solid var(--color-black);
        border-right: 2px solid var(--color-black);
    }
}

/* Responsive */

