/* 
header.css
- Cabecera
- Responsive
*/

/* Cabecera
Descripción: estilos para la cabecera general
Estructura:
- Header
- Header-svg
- Header-rect
- Header-ul
- Header-a
    - Header-a--inside
    - Header-a:hover
*/
.Header{
    padding: 1rem 2.5rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid var(--color-black);
}

.Header-svg{
    width: 1.875rem;
}
.Header-rect{
    fill: var(--color-yellow);
}
.Header-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    content: center;
    gap: 1.25rem;
}

.Header-a{
    font-size: .875rem;
}
.Header-a--inside{
    color: var(--color-yellow);
    font-weight: 700;
}
.Header-a:hover{
    font-weight: 700;
    transition: font-weight .5s ease;
}
/* Cabecera */


/* Responsive
Descripción: estilos para adaptar el contenido a responsive
Estructura: 
- Pantallas con max-width 480px
*/
@media (max-width:480px){
    .Header{
        flex-direction: column;
        gap: 1.25rem;
    }
}

/* Responsive */
