
.Proyects{
    width: 100%;
    margin: auto;
    padding: 6.25rem 0;
    border-bottom: 2px solid var(--color-black);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;   

}
.Proyects-container{
    width: 80%;
    text-align: center ;    
}
.Proyects-h1{
    font-size: var(--font-h1);
    font-weight: 700;
    line-height: 1.3em;
}
.Proyects-icon{
    width: 15%;
    margin: 1.875rem auto auto auto;
}
.Proyects-rect{
    fill: var(--color-yellow);
    animation: yellowsquare .5s ease 1 0s backwards;
}

@keyframes yellowsquare {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}
.Proyects-p{
    margin: 1.875rem 0;
}
.Proyects-text{
    margin: 1.875rem auto 6.25rem auto;

}

.Container{
    width: 100%;
    background-color: var(--color-yellow);
    border-bottom: 2px solid var(--color-black);
}
.Container-bg{
    width: 100%;
    background-color: var(--color-purple);
}

.Container-wrapper{
    width: 80%;
    padding: 6.25rem 0;
    margin: auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Container-h2{
    font-size: var(--font-h);
    font-weight: 700;
    line-height: 1.3em;
    margin: auto auto 3.125rem auto;
}

.Container-ul{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3.125rem;
}
.Container-li{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.Container-proyect{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid var(--color-black);
}

.Container-img{
    width: 100%;
    filter: blur(3px);
}
.Container-text{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    color: white;
    position: absolute;
    inset: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    transition: background-color .5s ease;
}

.Container-text.isActive{
    background-color: rgba(0,0,0,0.7);
    transition: background-color .5s ease;
}
.Container-h3{  
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.3em;  
    text-align: center;
    transition: transform .5s ease;
}

.Container-h3.isActive{
    transform: scale(1.1);
    transition: transform .5s ease;
}

@media (max-width: 480px){
    .Proyects-icon{
        width: 30%;
    }
    .Container-h2 {
        font-size: var(--font-h-mobile);
    }
    .Container-h3{
        font-size: 1.5625rem;
    }
}
@media (max-width: 757px){
    .Container-ul{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px){
    .Proyects-icon{
        width: 25%;
    }
    .Proyects-h1{
        font-size: 3.125rem;
    }
}

@media (max-width:960px){
    .Proyects-icon{
        width: 20%;
    }
}


/* Adaptación a pantallas grandes con max-width*/


@media (min-width: 2000px){
    body{
        max-width: 2400px;
        margin: auto;
        border-left: 2px solid var(--color-black);
        border-right: 2px solid var(--color-black);
    }
}